
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <title>Django to-do</title>
    </head>
    <body>
        <div>
            <h1 onclick="location.href='{% url "index" %}'">
                Django Todo List
            </h1>
        </div>
        <div>
{% extends "base.html" %}
{% block content %}
            <h3>{{ title }}</h3>
            <div>
                <div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input
                            value="Save"
                            type="submit">
                        <input
                            value="Cancel"
                            type="button"
                            onclick="location.href='{% url "index" %}';">
                    </form>
                </div>
            </div>
            {% endblock %}
        </div>
    </body>
</html>
