<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>{% block title %}Django Todo List{% endblock %}</title>
</head>
<body>
    <div>
        <h1 onclick="location.href='{% url "index" %}'">
            Django Todo List
        </h1>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
